// User Admin Variables
/*--------------------------------------------------------------------------*/

$green-dark:            #147409; // #0E5806;
$green-medium:          #188E0B;
$green-light:           #39DA27;
$deep-blue:             #2C3E50;
$light-blue:            #22C16F;
$gray-blue:             #639DB2;
$panel-gray:            #ecf0f1;
$red:                   #FF0000;
$yellow:                #D0DA0D;

$nav-tabs:              $green-medium;

$brand-primary:         $green-medium;

$brand-success:         $green-light;
$brand-info:            $light-blue;
$brand-warning:         $yellow;
$brand-danger:          $red;

$navbar-default-bg:     $brand-primary;
