#user-edit {
    .form-group {
        p {
            margin-bottom: 0;
            padding-top: 11px;
        }
    }
}
ul.nav-tabs {
    background-color: #ecf0f1;
}
tab > div.panel-default{
    border-color: none;
}