<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-info btn-sm" routerLink="/list/" (click)="messageService.clearMessage()">
            <i class="fa fa-chevron-left" aria-hidden="true"></i> Back to User List
        </button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1 id="id-title" *ngIf="user.id">User {{ user.id }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <br />
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default" id="edit-update">
            <tabset (click)="messageService.clearMessage()">
                <tab [heading]="createEditHeader()">
                    <div class="panel-body">
                        <alert *ngIf="msg" type="success">{{ msg }}</alert>
                        <alert *ngIf="error" type="danger">{{ error }}</alert>

                        <form 
                                id="user-edit" 
                                class="form-horizontal"
                                novalidate 
                                (ngSubmit)="onSubmit(userForm)" 
                                [formGroup]="userForm"
                            >

                            <div class="form-group" *ngIf="user && user.id">
                                <label for="name" class="col-xs-2 control-label">ID</label>
                                <div class="col-xs-10">
                                    <p>{{ user.id }}</p>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="user && user.created_at">
                                <label for="name" class="col-xs-2 control-label">Joined</label>
                                <div class="col-xs-10">
                                    <p *ngIf="!user.created_at">n/a</p>
                                    <p>{{ user.created_at }}</p>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="user.id">
                                <label for="name" class="col-xs-2 control-label">Last Login</label>
                                <div class="col-xs-10">
                                    <p *ngIf="!user.last_login">n/a</p>
                                    <p>{{ user.last_login }}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-xs-2 control-label">Name</label>
                                <div class="col-xs-10">
                                    <input type="text" class="form-control" name="name" formControlName="name" placeholder="Name">
                                    <div class="text-danger" *ngIf="userForm.get('name').hasError('required') && userForm.get('name').touched">
                                    Name is required
                                    </div>
                                    <div class="text-danger" *ngIf="userForm.get('name').hasError('minlength') && userForm.get('name').touched">
                                    Minimum of 2 characters
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-xs-2 control-label">Email</label>
                                <div class="col-xs-10">
                                    <input type="email" class="form-control" name="email" 
                                            formControlName="email" placeholder="Email"
                                            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                                    <div class="text-danger" *ngIf="userForm.get('email').hasError('required') && userForm.get('email').touched">
                                    Email is required
                                    </div>
                                    <div class="text-danger" *ngIf="userForm.get('email').hasError('pattern') && userForm.get('email').touched">
                                    A Valid email is required
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="role" class="col-xs-2 control-label">Role</label>
                                <div class="col-xs-10" id="select-role">
                                        <select class="form-control" name="role" formControlName="role">
                                            <option value="2">Admin</option>
                                            <option value="1">User</option>
                                        </select>
                                    <div class="text-danger" *ngIf="userForm.get('role').hasError('required') && userForm.get('role').touched">
                                    Role is required
                                    </div>
                                </div>
                            </div>
                            
                            <!--show password input if creating user-->
                            <app-password *ngIf="!user.id" [passwordInput]="userForm.controls.passwordInput"></app-password>

                            <div class="form-group">
                                <div class="col-xs-offset-2 col-xs-4">
                                    <button type="cancel" class="btn btn-default" routerLink="/list/" (click)="messageService.clearMessage()"> Cancel</button>
                                </div>
                                <div class="col-xs-offset-2 col-xs-4">
                                    <button type="submit" class="btn btn-success" [disabled]="userForm.invalid || wait">
                                        Save
                                        <i *ngIf="wait" class="fa fa-refresh fa-spin fa-fw"></i> 
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </tab>

                <tab heading="Update Password" *ngIf="user.id">

                    <div class="panel-body">

                        <alert *ngIf="passMsg" type="success">{{ passMsg }}</alert>
                        <alert *ngIf="passError" type="danger">{{ passError }}</alert>

                        <form 
                                id="user-password-change" 
                                class="form-horizontal"
                                novalidate 
                                (ngSubmit)="onSubmitChangepass(passwordForm)" 
                                [formGroup]="passwordForm"
                            >
                            <app-password [passwordInput]="passwordForm.controls.passwordInput"></app-password>

                            <div class="form-group">
                                <div class="col-xs-offset-2 col-xs-4">
                                    <button type="cancel" class="btn btn-default" routerLink="/list/">Cancel</button>
                                </div>
                                <div class="col-xs-offset-2 col-xs-4">
                                    <button type="submit" class="btn btn-success" [disabled]="passwordForm.controls.passwordInput.invalid || passWait">
                                        Save
                                        <i *ngIf="passWait" class="fa fa-refresh fa-spin fa-fw"></i> 
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <br/>
    </div>
</div>

<!-- User Event Component Goes Here -->
<app-user-event-log *ngIf="user.id"></app-user-event-log>

<div class="row">
    <div class="col-xs-12">
        <br/>
    </div>
</div>
