<div class="row">
    <div class="col-xs-12">
        <h1>Welcome to the Erdiko User Admin</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <br />
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-xs-12">
        <ul class="list-group">
            <li class="list-group-item">
                <a routerLink="/user/">Create a </a>
            </li>
            <li class="list-group-item">
                <a routerLink="/list">User List</a>
            </li>
            <li class="list-group-item">
                <a routerLink="/events">User Event Log</a>
            </li> 
        </ul>
    </div>
</div>
