@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../node_modules/bootswatch-sass/flatly/variables";
@import "variables";
@import "../variables";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../node_modules/bootswatch-sass/flatly/bootstrap";

/* General
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
body > .container, body > .container-fluid {
  padding: 60px 15px 0;
}
h1, h2, h3, h4 {
  color: $brand-primary;
}
.spacer {
  height: 42px;
}
.msgs-header {
  padding-bottom: 0;
  margin: 10px 0 0;
}
.msgs-header + .container {
  margin-top: 0;
  padding-top: 0;
}
.btn-toolbar {
  .active {
    background-color: $gray-blue !important;
    border-color: $gray-blue !important;
  }
}

/* Disable Animation
-------------------------------------------------- */
.notransition * {
  @include transition(none !important);
}


/* Square corners
-------------------------------------------------- */
.square-corners, .alert,
.list-group-item:first-child,
.list-group-item:last-child,
.pagination a,
.pagination-sm > li:first-child > a,
.pagination-sm > li:last-child > a {
  border-radius: 0px;
}

select.square-corners {
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 0 0 0 15px;
  background: 
    url(/images/select-arrow.png);
  background-position: right;
  background-repeat: no-repeat;
}

/* Header styles
-------------------------------------------------- */
.navbar-default {
  background-color: $navbar-default-bg;
}


/* Sticky footer styles
-------------------------------------------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top:10px;

  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: $gray-lighter;
}

/* Error pages styles
-------------------------------------------------- */
.server-error, .error-404, .error-500 {
  background: url(/images/error_background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Tab styles
-------------------------------------------------- */
#id-title {
  font-size: 18px;
  width: 230px;
  display: inline-block;
  margin-left: 15px;
}

.nav-link:hover,
.nav > li > a:hover, 
nav > li > a:hover {
  background-color: white;
}

.nav-tabs, 
.nav-tabs .nav-link,
.nav-link.active,
.nav-link:focus,
.nav-tabs:hover,
.nav-tabs > li > a,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  border: none;
}

.nav-tabs > li.active {
  border: none;
  border-bottom: 3px solid $green-header;
}

.nav-tabs > li:hover > a {
  background-color: white;
  border: none;
}

.nav-tabs > li:hover {
  border-bottom: 3px solid $green-header;
}

#edit-update {
  border: none;
}

.tab-content {
  border: 1px solid $panel-gray;
}