/* Variables
-------------------------------------------------- */
$gray-blue:             #639db2;
$green-dark:            #0E5806;
$green-light:           #04BF05;
$deep-blue:				#2C3E50;
$green-header:          #17bf63;
$panel-gray:            #ecf0f1;

$brand-primary:         $deep-blue;
$brand-success:         $green-light;
$navbar-default-bg:     $brand-primary;
