<div class="row">
    <div class="col-xs-4">
        <button class="btn btn-default" routerLink="/user/">Create a New User</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <br />
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-bordered table-hover"> 
            <thead> 
                <tr> 
                    <th (click)="sort('id')">ID <i class="fa fa-sort-asc" aria-hidden="true"></i></th> 
                    <th (click)="sort('name')">User Name</th> 
                    <th (click)="sort('role')">Role</th> 
                    <th (click)="sort('last_login')">Last Login</th> 
                    <th (click)="sort('join')">Joined</th> 
                    <th>Edit</th> 
                </tr> 
            </thead> 
            <tbody *ngIf="wait"> 
                <tr>
                    <td colspan="6" align="center">
                        <i class="fa fa-refresh fa-spin fa-2x fa-fw"></i> 
                    </td>
                </tr>
            </tbody> 
            <tbody *ngIf="!wait"> 
                <tr *ngFor="let user of users; let index = index"> 
                    <th scope="row">{{ user.id }}</th> 
                    <td>{{ user.name }}</td> 
                    <td>{{ user.role }}</td> 
                    <td>{{ user.last_login }}</td> 
                    <td>{{ user.joined }}</td> 
                    <td><a routerLink="/user/{{ user.id }}">Edit</a></td> 
                </tr> 
            </tbody> 
        </table>
    </div>
</div>
<div class="row" *ngIf="total">
    <div class="col-xs-6">

        <nav aria-label="Page navigation">
          <ul class="pagination">

            <li *ngIf="(currentPage > 1)">
              <a (click)="clickPrev()" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>

            <li 
                *ngFor="let page of pages; let index = index"
                 [ngClass]="{'active': (page == currentPage)}"
                >
                <a (click)="clickPage(page)">{{ page }}</a>
            </li>

            <li *ngIf="(currentPage < getPageCount())">
              <a (click)="clickNext()" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>

          </ul>
        </nav>

    </div>
</div>
